#ignore all .pth .pt .jpg files and cache files
*.pth
*.pt
*.jpg
*.png
**/__pycache__/

#NeRCo
NeRCo/dataset/testA
NeRCo/dataset/testB
NeRCo/results/LOL
NeRCo/results/LOL_old
NeRCo/results/LSRW
NeRCo/saves/LOL
NeRCo/saves/LSRW

#YOLO
YOLO/out_imgs
YOLO/yolo_files/yolov3.weights
YOLO/NeRCo
YOLO/RQ-LLIE

#RQ-LLIE
RQ-LLIE/dataset
RQ-LLIE/figures
RQ-LLIE/pretrained_models
RQ-LLIE/results

#GSAD
GSAD/checkpoints
GSAD/dataset
GSAD/experiments

