#ignore all .pth .pt .jpg files and cache files
*.pth
*.pt
*.jpg
*.png
**/__pycache__/

#NeRCo
models/NeRCo/dataset/testA
models/NeRCo/dataset/testB
models/NeRCo/results/LOL
models/NeRCo/results/LSRW
models/NeRCo/saves/LOL
models/NeRCo/saves/LSRW

#YOLO
models/YOLO
models/YOLO/YOLO/out_imgs
models/YOLO/yolo_files/yolov3.weights
models/YOLO/NeRCo

#RQ-LLIE
models/RQ-LLIE/dataset
models/RQ-LLIE/figures
models/RQ-LLIE/pretrained_models
models/RQ-LLIE/results