models/NeRCo/dataset/testA
models/NeRCo/dataset/testB
models/NeRCo/results/LOL
models/NeRCo/results/LSRW
models/NeRCo/saves/LOL
models/NeRCo/saves/LSRW
models/NeRCo/YOLO/out_imgs
models/NeRCo/YOLO/yolo_files

